\tpublic (responseHandlerName) delete(@PathVariable(name="id")(pkType) (pkField)){
\t    (RepositoryClass).deleteById((pkField));
\t    return new (responseHandlerName)("ok", "(ClassName) deleted !!",null); 
\t}