\tpublic (responseHandlerName) add(@RequestBody (ClassName) (ClassNameMin)){
\t    (ClassName) res =(RepositoryClass).save((ClassNameMin));
\t    return new (responseHandlerName)("ok", "(ClassName) inserted succesfully",res); 
\t}