\tpublic (responseHandlerName) update(@RequestBody (ClassName) (ClassNameMin)){
\t    (ClassName) res =(RepositoryClass).save((ClassNameMin));
\t    return new (responseHandlerName)("ok", "(ClassName) updated succesfully",res); 
\t}