 const res = await alaivoGet("(ClassNameMin)");
    let dataTable = {
      headerOn: { title: "Liste de (className)", under_component: "" },
      titles: [(title_field)],
      index: [(fields_indexation)],
    

