spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:(name)://(host):(port)/(dbname)
spring.datasource.username=(username)
spring.datasource.password=(password)
spring.datasource.driver-class-name=(driver)
spring.jpa.show-sql=true 
spring.jpa.properties.hibernate.format_sql=true 
spring.devtools.livereload.enabled=true
server.port=8087